process {
    withName: 'MEGAHIT' {
        ext.args = { params.megahit_extra_args ?: '' }

        publishDir = [
            [
                path: { "${params.outdir}/assembly/megahit" },
                mode: params.publish_dir_mode,
                pattern: '*.contigs.fa'
            ],
            [
                path: { "${params.outdir}/assembly/megahit/logs" },
                mode: params.publish_dir_mode,
                pattern: '*.megahit.log',
                enabled: params.save_logs
            ]
        ]
    }

    withName: 'ASSEMBLY_QC' {
        publishDir = [
            [
                path: { "${params.outdir}/assembly/megahit/qc" },
                mode: params.publish_dir_mode,
                pattern: '*.assembly_stats.tsv'
            ],
            [
                path: { "${params.outdir}/assembly/megahit/qc" },
                mode: params.publish_dir_mode,
                pattern: '*.assembly_*.txt'
            ]
        ]
    }

    withName: 'PLASS' {
        ext.args = { params.plass_extra_args ?: '' }

        publishDir = [
            [
                path: { "${params.outdir}/assembly/plass" },
                mode: params.publish_dir_mode,
                pattern: '*.plass_proteins.faa'
            ],
            [
                path: { "${params.outdir}/assembly/plass/logs" },
                mode: params.publish_dir_mode,
                pattern: '*.plass.log',
                enabled: params.save_logs
            ]
        ]
    }
}
