process {
    withName: 'COVERM_CONTIG' {
        ext.args = { params.coverm_extra_args ?: '' }

        publishDir = [
            [
                path: { "${params.outdir}/coverage" },
                mode: params.publish_dir_mode,
                pattern: '*_coverage.tsv'
            ],
            [
                path: { "${params.outdir}/coverage/logs" },
                mode: params.publish_dir_mode,
                pattern: '*.coverm.log',
                enabled: params.save_logs
            ],
            [
                path: { "${params.outdir}/coverage/bam" },
                mode: params.publish_dir_mode,
                pattern: '*_bam/*',
                enabled: params.save_bam
            ]
        ]
    }

    withName: 'COVERM_BATCH_MERGE' {
        publishDir = [
            path: { "${params.outdir}/coverage/merged" },
            mode: params.publish_dir_mode,
            pattern: '*_merged_coverage.tsv'
        ]
    }
}
