process {
    withName: 'FASTP' {
        ext.args = { params.fastp_extra_args ?: '' }

        publishDir = [
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.fastp.json'
            ],
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.fastp.html'
            ],
            [
                path: { "${params.outdir}/fastp/trimmed" },
                mode: params.publish_dir_mode,
                pattern: '*.fastp.fastq.gz',
                enabled: params.save_trimmed
            ],
            [
                path: { "${params.outdir}/fastp/logs" },
                mode: params.publish_dir_mode,
                pattern: '*.fastp.stderr',
                enabled: params.save_logs
            ]
        ]
    }

    withName: 'FASTP_QC_GATE' {
        publishDir = [
            path: { "${params.outdir}/fastp/qc" },
            mode: params.publish_dir_mode,
            pattern: '*.qc_*.txt'
        ]
    }
}
