manifest {
    name        = 'Rhizosphere Resistome Functional Microbiome Pipeline'
    description = 'Nextflow DSL2 pipeline for rhizosphere metagenome QC and downstream resistome workflows'
}

tower {
    enabled     = System.getenv('TOWER_ACCESS_TOKEN') ? true : false
    accessToken = System.getenv('TOWER_ACCESS_TOKEN') ?: ''
    endpoint    = System.getenv('TOWER_API_ENDPOINT') ?: 'https://api.cloud.seqera.io'
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules/samplesheet.config'
includeConfig 'conf/modules/fastp.config'
includeConfig 'conf/modules/assembly.config'
includeConfig 'conf/modules/coverm.config'
includeConfig 'conf/modules/reporting.config'
includeConfig 'conf/awsbatch.config'
includeConfig 'conf/local.config'
