manifest {
    name        = 'Rhizosphere Resistome Functional Microbiome Pipeline'
    description = 'Nextflow DSL2 pipeline for rhizosphere metagenome QC and downstream resistome workflows'
}

tower {
    enabled     = System.getenv('TOWER_ACCESS_TOKEN') ? true : false
    accessToken = System.getenv('TOWER_ACCESS_TOKEN') ?: ''
    endpoint    = System.getenv('TOWER_API_ENDPOINT') ?: 'https://api.cloud.seqera.io'
}

includeConfig 'conf/base.config'
includeConfig 'conf/awsbatch.config'
