profiles {
    awsbatch {
        params {
            aws_region = System.getenv('AWS_REGION') ?: System.getenv('AWS_DEFAULT_REGION') ?: 'us-east-1'
            aws_batch_queue = System.getenv('NXF_AWS_BATCH_QUEUE') ?: ''
            aws_workdir = System.getenv('NXF_AWS_WORKDIR') ?: ''
            aws_outdir = System.getenv('NXF_AWS_OUTDIR') ?: 'results'
            outdir = System.getenv('NXF_AWS_OUTDIR') ?: 'results'
            aws_batch_platform = System.getenv('NXF_AWS_BATCH_PLATFORM') ?: 'ec2'
            aws_batch_cli_path = System.getenv('NXF_AWS_CLI_PATH') ?: null
            aws_batch_job_role = System.getenv('NXF_AWS_BATCH_JOB_ROLE') ?: null
            aws_batch_execution_role = System.getenv('NXF_AWS_BATCH_EXECUTION_ROLE') ?: null
            aws_batch_max_spot_attempts = (System.getenv('NXF_AWS_BATCH_MAX_SPOT_ATTEMPTS') ?: '0') as int
            aws_max_transfer_attempts = (System.getenv('NXF_AWS_MAX_TRANSFER_ATTEMPTS') ?: '3') as int
            aws_max_parallel_transfers = (System.getenv('NXF_AWS_MAX_PARALLEL_TRANSFERS') ?: '8') as int
        }

        bucketDir = params.aws_workdir

        process {
            executor = 'awsbatch'
            queue = params.aws_batch_queue
        }

        aws {
            region = params.aws_region
            batch {
                platformType = params.aws_batch_platform
                maxSpotAttempts = params.aws_batch_max_spot_attempts
                maxTransferAttempts = params.aws_max_transfer_attempts
                maxParallelTransfers = params.aws_max_parallel_transfers
                retryMode = 'standard'
                cliPath = params.aws_batch_cli_path
                jobRole = params.aws_batch_job_role
                executionRole = params.aws_batch_execution_role
            }
        }
    }

    awsbatch_spot {
        params {
            aws_region = System.getenv('AWS_REGION') ?: System.getenv('AWS_DEFAULT_REGION') ?: 'us-east-1'
            aws_batch_queue = System.getenv('NXF_AWS_SPOT_QUEUE') ?: System.getenv('NXF_AWS_BATCH_QUEUE') ?: ''
            aws_workdir = System.getenv('NXF_AWS_WORKDIR') ?: ''
            aws_outdir = System.getenv('NXF_AWS_OUTDIR') ?: 'results'
            outdir = System.getenv('NXF_AWS_OUTDIR') ?: 'results'
            aws_batch_platform = System.getenv('NXF_AWS_BATCH_PLATFORM') ?: 'ec2'
            aws_batch_cli_path = System.getenv('NXF_AWS_CLI_PATH') ?: null
            aws_batch_job_role = System.getenv('NXF_AWS_BATCH_JOB_ROLE') ?: null
            aws_batch_execution_role = System.getenv('NXF_AWS_BATCH_EXECUTION_ROLE') ?: null
            aws_batch_max_spot_attempts = (System.getenv('NXF_AWS_BATCH_MAX_SPOT_ATTEMPTS') ?: '5') as int
            aws_max_transfer_attempts = (System.getenv('NXF_AWS_MAX_TRANSFER_ATTEMPTS') ?: '3') as int
            aws_max_parallel_transfers = (System.getenv('NXF_AWS_MAX_PARALLEL_TRANSFERS') ?: '8') as int
        }

        bucketDir = params.aws_workdir

        process {
            executor = 'awsbatch'
            queue = params.aws_batch_queue
        }

        aws {
            region = params.aws_region
            batch {
                platformType = params.aws_batch_platform
                maxSpotAttempts = params.aws_batch_max_spot_attempts
                maxTransferAttempts = params.aws_max_transfer_attempts
                maxParallelTransfers = params.aws_max_parallel_transfers
                retryMode = 'standard'
                cliPath = params.aws_batch_cli_path
                jobRole = params.aws_batch_job_role
                executionRole = params.aws_batch_execution_role
            }
        }
    }

    awsbatch_fusion {
        params {
            aws_region = System.getenv('AWS_REGION') ?: System.getenv('AWS_DEFAULT_REGION') ?: 'us-east-1'
            aws_batch_queue = System.getenv('NXF_AWS_BATCH_QUEUE') ?: ''
            aws_workdir = System.getenv('NXF_AWS_WORKDIR') ?: ''
            aws_outdir = System.getenv('NXF_AWS_OUTDIR') ?: 'results'
            outdir = System.getenv('NXF_AWS_OUTDIR') ?: 'results'
            aws_batch_platform = System.getenv('NXF_AWS_BATCH_PLATFORM') ?: 'ec2'
            aws_batch_job_role = System.getenv('NXF_AWS_BATCH_JOB_ROLE') ?: null
            aws_batch_execution_role = System.getenv('NXF_AWS_BATCH_EXECUTION_ROLE') ?: null
            aws_batch_max_spot_attempts = (System.getenv('NXF_AWS_BATCH_MAX_SPOT_ATTEMPTS') ?: '0') as int
            aws_max_transfer_attempts = (System.getenv('NXF_AWS_MAX_TRANSFER_ATTEMPTS') ?: '3') as int
            aws_max_parallel_transfers = (System.getenv('NXF_AWS_MAX_PARALLEL_TRANSFERS') ?: '8') as int
        }

        bucketDir = params.aws_workdir

        process {
            executor = 'awsbatch'
            queue = params.aws_batch_queue
        }

        aws {
            region = params.aws_region
            batch {
                platformType = params.aws_batch_platform
                maxSpotAttempts = params.aws_batch_max_spot_attempts
                maxTransferAttempts = params.aws_max_transfer_attempts
                maxParallelTransfers = params.aws_max_parallel_transfers
                retryMode = 'standard'
                jobRole = params.aws_batch_job_role
                executionRole = params.aws_batch_execution_role
            }
        }

        wave {
            enabled = true
        }

        fusion {
            enabled = true
        }
    }

    awsbatch_spot_fusion {
        params {
            aws_region = System.getenv('AWS_REGION') ?: System.getenv('AWS_DEFAULT_REGION') ?: 'us-east-1'
            aws_batch_queue = System.getenv('NXF_AWS_SPOT_QUEUE') ?: System.getenv('NXF_AWS_BATCH_QUEUE') ?: ''
            aws_workdir = System.getenv('NXF_AWS_WORKDIR') ?: ''
            aws_outdir = System.getenv('NXF_AWS_OUTDIR') ?: 'results'
            outdir = System.getenv('NXF_AWS_OUTDIR') ?: 'results'
            aws_batch_platform = System.getenv('NXF_AWS_BATCH_PLATFORM') ?: 'ec2'
            aws_batch_job_role = System.getenv('NXF_AWS_BATCH_JOB_ROLE') ?: null
            aws_batch_execution_role = System.getenv('NXF_AWS_BATCH_EXECUTION_ROLE') ?: null
            aws_batch_max_spot_attempts = (System.getenv('NXF_AWS_BATCH_MAX_SPOT_ATTEMPTS') ?: '5') as int
            aws_max_transfer_attempts = (System.getenv('NXF_AWS_MAX_TRANSFER_ATTEMPTS') ?: '3') as int
            aws_max_parallel_transfers = (System.getenv('NXF_AWS_MAX_PARALLEL_TRANSFERS') ?: '8') as int
        }

        bucketDir = params.aws_workdir

        process {
            executor = 'awsbatch'
            queue = params.aws_batch_queue
        }

        aws {
            region = params.aws_region
            batch {
                platformType = params.aws_batch_platform
                maxSpotAttempts = params.aws_batch_max_spot_attempts
                maxTransferAttempts = params.aws_max_transfer_attempts
                maxParallelTransfers = params.aws_max_parallel_transfers
                retryMode = 'standard'
                jobRole = params.aws_batch_job_role
                executionRole = params.aws_batch_execution_role
            }
        }

        wave {
            enabled = true
        }

        fusion {
            enabled = true
        }
    }
}
