params {
    input  = 's3://multiomic-project-data/data/PRJNA647806/sample_sheet.csv'
    outdir = 's3://multiomic-project-data/data/PRJNA647806/results'

    fastp_min_reads      = 500000
    fastp_min_bases_gbp  = 0.5
    fastp_min_q30_rate   = 0.70
    fastp_max_dup_rate   = 0.40
    fastp_min_gc         = 0.40
    fastp_max_gc         = 0.75
    fastp_depth_fraction = 0.30
}

process {
    withLabel: 'process_medium' {
        cpus   = 8
        memory = 16.GB
        time   = 4.h
    }

    withLabel: 'process_single' {
        cpus   = 1
        memory = 6.GB
        time   = 1.h
    }
}
